@model IEnumerable<PCpartStore.Models.PowerSupply>
@{
    ViewBag.Title = "IndexPSU";
    ViewBag.BodyClass = "power";
}

<h2 class="brandName">Power Supply</h2>
@{int counter = 1;}
@foreach (var i in Model)
{
    if (counter == 1)
    {
        @Html.Raw(@"<div class=""row"">");
    }

    <div class="col-md-4">
        <div class="border">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="@Url.Content(i.Image)" />
                </div>
                <div class="col-md-6">
                    <div>
                       @Html.DisplayNameFor(psu => psu.Brand) : @Html.DisplayFor(model => i.Brand)
                    </div>
                    <div>
                        @Html.DisplayNameFor(psu => psu.Rating) = @Html.DisplayFor(model => i.Rating)
                    </div>
                    <div>
                        @Html.DisplayNameFor(psu => psu.Watt) = @Html.DisplayFor(model => i.Watt)
                    </div>
                    <div>
                        @Html.DisplayNameFor(psu => psu.Price) = £ @Html.DisplayFor(model => i.Price)
                    </div>
                    @*<a class="btn btn-success" href="#">Add to Cart</a>*@
                    @using (Html.BeginForm("AddToShoppingCart", "PSU", new { ID = i.Id }))
                    {
                        @*@Html.HiddenFor(model => i.Id)*@
                        <input type="submit" class="btn btn-primary" value="Add to Cart" />
                    }
                </div>
            </div>
        </div>
    </div>

    if (counter == 1 && Model.LastOrDefault().Equals(i))
    {
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        @Html.Raw("</div>");
    }

    if (counter == 2 && Model.LastOrDefault().Equals(i))
    {
        <div class="col-md-4"></div>
        @Html.Raw("</div>");
    }

    if (counter == 3)
    {
        @Html.Raw("</div>");
        <hr />
    }

    counter++;

    if (counter == 4)
    {
        counter = 1;
    }
}




