@model IEnumerable<PCpartStore.Models.AmdCPU>
@{
    ViewBag.Title = "IndexAmdCpu";
    ViewBag.BodyClass = "amd";
}
<ul class="margin-top customUL">
    <li><a class="btn btn-danger" href="@Url.Action("Index" , "Home" )">Intel CPU</a></li>
    <li><a class="btn btn-danger btn-danger-amd" href="@Url.Action("IndexAmdCpu" , "AmdCpu" )">AMD CPU</a></li>
</ul>
<h2 class="text-center">AmdCpu</h2>
@{int counter = 1;}
@foreach (var i in Model)
{
    if (counter == 1)
    {
        @Html.Raw(@"<div class=""row"">");
    }

    <div class="col-md-4">
        <div class="border">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" src="@Url.Content(i.Image)" />
                </div>
                <div class="col-md-6">
                    <div>
                       AMD @Html.DisplayFor(model => i.Brand)
                    </div> 
                    <div>
                        @Html.DisplayNameFor(amdCPU => amdCPU.Model) = @Html.DisplayFor(model => i.Model)
                    </div>
                    <div>
                        @Html.DisplayNameFor(amdCPU => amdCPU.Socket) = @Html.DisplayFor(model => i.Socket)
                    </div>
                    <div>
                        @Html.DisplayNameFor(amdCPU => amdCPU.Speed) = @Html.DisplayFor(model => i.Speed)
                    </div>
                    <div>
                        @Html.DisplayNameFor(amdCPU => amdCPU.Price) = £ @Html.DisplayFor(model => i.Price)
                    </div>
                    @*<a class="btn btn-success" href="#">Add to Cart</a>*@
                    @using (Html.BeginForm("AddToShoppingCart", "AmdCpu", new { ID = i.Id }))
                    {
                        @*@Html.HiddenFor(model => i.Id)*@
                        <input type="submit" class="btn btn-primary" value="Add to Cart" />
                    }
                </div>
            </div>
        </div>
    </div>

    if (counter == 1 && Model.LastOrDefault().Equals(i))
    {
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        @Html.Raw("</div>");
    }

    if (counter == 2 && Model.LastOrDefault().Equals(i))
    {
        <div class="col-md-4"></div>
        @Html.Raw("</div>");
    }

    if (counter == 3)
    {
        @Html.Raw("</div>");
        <hr />
    }

    counter++;

    if (counter == 4)
    {
        counter = 1;
    }
}


